<div class="row">
  <%= form_tag link, method: :get do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:search_name) %>
    <%= select_tag :filter, options_for_select(@filters.map{|key, value|
      [t("filter.#{key}"), key]}) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
